.title {
    text-align: center;
}

.description {
    text-align: center;
}

.links h3 {
    margin: 0 300px;
    margin-left: 400px;
}

.sign-up {
    text-align: center;
}

.LEAD_way {
    text-align: center;
}

.Three_Cs {
    margin: 0 20px;
}

.Video_message {
    text-align: center;
}

.For_Organizations {
    text-align: center;
}

.Org_Quotes {
    display: flex;
    justify-content: space-between;
}

.Org_Quotes h3 {
    margin: 0 400px;
}

.Orgs_content {
    display: flex;
    justify-content: space-between;
}

.Learn_more {
    text-align: center;
}

.For_Individuals {
    text-align: center;
}

.Individuals_Quotes {
    display: flex;
    justify-content: space-between;
}

.Individuals_Quotes h3 {
    margin: 0 400px;
}

.Individuals_Content {
    display: flex;
    justify-content: space-between;
}